/* universal selector */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.box{
    height: 200px;
    width: 200px;
    border-width: 2px;
    border-style: solid;
    border-color: blue;
    background-color: chartreuse;
    float:left;
    /* padding: 10px; */
    /*      TB      LR */
    /* padding:10px 20px; */
    /*      T   R      B   L */
    /* padding:10px 5px 4px 7px; */
    /*      T   LR    B */
    padding:6px 4px 5px;
    margin:15px;
    /* box-sizing: border-box; */
}