h5 {
    color: blue;
    background-color: blanchedalmond;
}

#txt {
    color: yellowgreen;
    background-color: blueviolet;
    font-size: 25px;
}
.abc {
    color: coral;
    background-color: cornflowerblue;
}